.vim/old
README.md
.bash_history
.lesshst
.ssh
.viminfo
.cache
docker-edge-network/
pkg
src

# ruby gem odities
bin/dotenv
bin/fpm
bin/minitar
bin/mustache
bin/please-manage-user
bin/pleaserun
bin/rubygems-cabin-test
bin/update_rubygems


# mac stuff
.CFUserTextEncoding
.DS_Store
.*.swp
.Trash/
.Xauthority
.android/
.appcfg_oauth2_tokens
.bash_sessions/
.credentials/
.cups/
.docker/
.dropbox/
.emulator_console_auth_token
.gapps
.gem/
.gnupg/
.gradle/
.irb-history
.rbenv
.local/
.mindterm/
.mkshrc
.node-gyp/
.npm/
.oracle_jre_usage/
.pylint.d/
.python-eggs/
.python_history
.rnd
.rvm/
.sw*
.vagrant.d/
.vagrant/
.vimgolf/
.viminfo.tmp
AndroidStudioProjects/
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Google Drive/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/
macports/
old/
perso/
stack/
./tmp/
go/
.config/
.bashrc-global

.cdd_path
bin/strength
bin/fzf
.cdstat
.bundle/

.parallel/
.yarnrc
bin/anim_diff
bin/cwebp
bin/dwebp
bin/fillstruct
bin/fpuppet.sh
bin/gif2webp
bin/img2webp
bin/keyify
bin/vwebp
bin/webpmux
google-cloud-sdk/
.boto
.kube/
.minikube/
.terraform.d/


bin/api
bin/deadcode
bin/dupl
bin/gas
bin/gcd
bin/ineffassign
bin/jff
bin/lll
bin/maligned
bin/megacheck
bin/misspell
bin/nakedret
bin/pprof
bin/prealloc
bin/protoc
bin/protoc-gen-go
bin/safesql
bin/staticcheck
bin/structcheck
bin/terraform
bin/unconvert
bin/unparam
bin/unused
bin/varcheck
pprof/
projects/
.mysql_history
.wget-hsts
